[Desktop Entry]
Name=SmartGit EA
Comment=A graphical Git client
Comment[de]=Ein grafischer Git Client
Exec=smartgit-ea
Icon=/opt/smartgit-ea/bin/smartgit.svg
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Development;
MimeType=application/smartgit;application/x-smartgit;
