[Desktop Entry]
Type=Application
Name=LXPolKit
Name[am]=የለክስ ፖልኪት
Name[ar]=LXPolKit
Name[be]=LXPolKit
Name[bg]=LXPolKit
Name[bn]=LXPolKit
Name[bn_IN]=LXPolKit
Name[ca]=LXPolKit
Name[cs]=LXPolKit
Name[da]=LXPolKit
Name[de]=LXPolKit
Name[el]=LXPolKit
Name[en_GB]=LXPolKit
Name[es]=LXPolKit
Name[fa]=ال‌اکس‌پول‌کیت
Name[fi]=LXPolKit
Name[fo]=LXPolKit
Name[fr]=LXPolKit
Name[gl]=LXPolKit
Name[he]=LXPolKit
Name[hr]=LXPolKit
Name[hu]=LXPolKit
Name[id]=LXPolKit
Name[it]=LXPolKit
Name[ja]=LXPolKit
Name[km]=LXPolKit
Name[lg]=LXPolKit
Name[lt]=LXPolKit
Name[nb]=LXPolKit
Name[nl]=LXPolKit
Name[pl]=LXPolkit
Name[pt]=LXPolKit
Name[pt_BR]=LXPolKit
Name[ru]=Менеджер аутентификаций PolicyKit
Name[si]=LXPolKit
Name[sk]=LXPolKit
Name[sl]=LXPolKit
Name[sr]=LXPolKit
Name[sr@latin]=LXPolKit
Name[sv]=LXPolKit
Name[te]=LXPolKit
Name[tr]=LXPolKit
Name[tt_RU]=LXPolKit
Name[uk]=LXPolKit
Name[vi]=LXPolKit
Name[zh_CN]=LXPolKit
Name[zh_TW]=LXPolKit
Comment=Policykit Authentication Agent
Comment[am]=የፖሊሲኪት አረጋጋጭ
Comment[ar]=أداة توثيق Policykit
Comment[be]=Агент аўтарызацыі Policykit
Comment[bg]=Агент за удостоверяване
Comment[bn]=Policykit প্রমাণীকরণ এজেন্ট
Comment[bn_IN]=Policykit Authentication Agent
Comment[ca]=Agent d'autenticació Policykit
Comment[cs]=Ověřovací agent PolicyKit
Comment[da]=Policykit Authentication Agent
Comment[de]=PolicyKit-Authentifizierungsdienst
Comment[el]=Policykit Authentication Agent
Comment[en_GB]=Policykit Authentication Agent
Comment[es]=Agente de autenticación Policykit
Comment[fa]=بسته‌ي سیاست اعتباردهی
Comment[fo]=Policykit váttanar fulltrúi
Comment[fr]=Agent d'authentification PolicyKit
Comment[gl]=Axente de autenticación Policykit
Comment[he]=סוכן אימות מול ערכת מדיניות
Comment[hr]=Agent pravila ovjere
Comment[hu]=Policykit hitelesítési ügynök
Comment[id]=Agen Otentikasi PolicyKit
Comment[it]=Agent di Autenticazione per Policykit
Comment[ja]=Policykit 認証エージェント
Comment[km]=Policykit Authentication Agent
Comment[lg]=Puloguramu ey'okukakasa bisaanyizo mu nkola ya PolicyKit
Comment[lt]=Policykit autentikacijos priemonė
Comment[nb]=Identitetsbekreftelse for Policykit
Comment[nl]=Policykit Authenticatie-agent
Comment[pl]=Agent uwierzytelniania Policykit
Comment[pt]=Agente de autenticação Policykit
Comment[pt_BR]=Agente de autenticação Policykit
Comment[ru]=Агент аутентификации PolicyKit
Comment[si]=Policykit සත්‍යාපන නියෝජිත
Comment[sk]=Autentifikačný agent PolicyKit
Comment[sl]=Agent overitve PolicyKit
Comment[sr]=Policykit - Агент за аутентификацију
Comment[sr@latin]=Policykit - Agent za autentifikaciju
Comment[sv]=Identitetsagent för Policykit
Comment[te]=పాలసీసామాగ్రి ప్రమాణీకరణ వాహకం
Comment[tr]=Policykit Yetkilendirme Vekili
Comment[tt_RU]=PolicyKit аутентификация менеджеры
Comment[uk]=Агент авторизації Policykit
Comment[vi]=Chính sách chứng nhận độc quyền
Comment[zh_CN]=Policykit 认证代理
Comment[zh_TW]=Policykit 驗證代理程式
Exec=/usr/bin/lxpolkit
Icon=gtk-dialog-authentication
NotShowIn=GNOME;KDE;MATE;Razor;
